{% extends 'news/index.html' %}
                {% block content %}<!DOCTYPE html>
<html>
  <head>
    <title>Dominate your HTML</title>
    <meta charset="utf8">
  </head>
  <body>
    <style>
        body {
            background: beige;
            margin: 0px;
            padding: 0px;
            }
        .header h1{
            font-size: 30px;
            margin-top: 0;
            padding-top: 10px;
            padding-left: 30px;
            color: azure;
            font-family: 'Permanent Marker', cursive;

        }
        .container h1{
            font-size: 28px;
            text-align: left;
            margin-left: 100px;
            font-family: 'Karantina', cursive;
        }
        .description h3{
            font-size: 16px;
            text-align: left;
            font-weight: 400;
            }
        .container{
            padding-bottom: 50px;
            background: floralwhite;
            margin-left: 20px;
            margin-right: 20px;
            }
        .news{
            width: 100%;
            padding-bottom: 40px;
            padding-top: 30px;
            background: floralwhite;
            margin-bottom: 20px;
            }
        .image_container{
            width: 150px;
            float:left;
            margin-left: 100px;
            display: flex;
        }
        .description{
            width: 60%;
            max-height: 100%;
            margin-left: 100px;
            float:left;
        }
        .header{
            display: flex;
            height: 60px;
            background:black;
            }
        .clear{
            clear:left;
        }
        .date{
            font-size: 16px;
            color:gainsboro;
        }
        img{
            max-width: 100%;
            border: 0;
        }
        a {
            display: inline-block;
            display: block;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            color: black;
            text-decoration: none;
            cursor: pointer;
            }
        a:hover{
            color: #3d9ef9;
            text-decoration:none;
        }
        </style>
    <div class="header">
      <h1>Special News</h1>
    </div>
    <div class="container" id="data container">
      <h1>2021.10.29</h1>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635531431.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635531431.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36999">Микробиолог рассказал, как защитить себя от коронавируса</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>«Невидимый барьер» будет препятствовать проникновению вируса в организм.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635521769.jpeg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635521769.jpeg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36998">Развитие экологической культуры в стране</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>Жителям республики предлагают присоединиться к всероссийскому диктанту.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635513465.jpeg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635513465.jpeg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36997">Ученые ищут детскую вакцину от коронавируса</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>Испытания вакцины &quot;Спутник V&quot; провели на детях. Первые итоги.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635509731.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635509731.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36996">Опасно для детей</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>В Петрозаводске снесут 7 детских площадок.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635509437.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635509437.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36995">Возможности развития</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>В Карелии поддержат инициативы в области любительского спорта.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635501384.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635501384.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36994">Ансамбль Karjala - &quot;Душа Карелии&quot;!</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>Руководитель ансамбля стал обладателем престижной премии республиканского Министерства культуры.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635501101.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635501101.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36993">Школьники Сортавальского района могут получить 10 тысяч рублей</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>Средства будут выделены из районного бюджета.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635497782.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635497782.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36992">Атлантический циклон «Калли» идёт в Карелию</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>По всей республике началось ожидаемое потепление.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635495418.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635495418.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36991">В Петрозаводске «рвутся» водопроводы</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>Виновники аварии попали под штрафные санкции.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635490934.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635490934.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36990">Поддержка местных инициатив</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>Петрозаводчане могут предложить общественные территории для благоустройства.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635487054.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635487054.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36989">Важная информация для родителей!</a>
          <h2 class="date">2021-10-29 00:00:00</h2>
          <h3>Пускать родителей в детские сады и школы республики будут только при предъявлении QR-кода.</h3>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="container" id="data container">
      <h1>2021.10.28</h1>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635434980.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635434980.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36986">«Мы открываем все номерки к специалистам». В петрозаводской поликлинике запустили пилотный проект</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Рубрика «ВСЁ» о здоровье» в гостях у медиков поликлиники №3.
 В последние месяцы в соцсетях на неё обрушился вал негативных комментариев. 
Мы решили выяснить, как руководство медучреждения реагирует на замечания пациентов и как собирается улучшать доступность медпомощи.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635435637.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635435637.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36988">Уникальный экспонат</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Посох колдуна покажут в Национальном музее Карелии.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635435396.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635435396.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36987">Медали от знаменитого спортсмена</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Андрей Аршавин наградил футболистов из Петрозаводска.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635427740.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635427740.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36985">Заключенные в Карелии любят читать фантастику и фэнтези</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>В УФСИН Карелии узнали какие книги предпочитают осужденные в республике.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635427413.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635427413.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36984">На просторах Калевалы</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Выставку из Карелии наградили специальным призом на этнофестивале в Петербурге.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635416330.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635416330.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36983">Пешеход почтенного возраста</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>В Карелии в каждом третьем смертельном ДТП погибают пенсионеры.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635426769.png">
            <img src="http://vse.sale/files/news/2021/10/102375_1635426769.png">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36982">Останки малолетнего ребёнка найдены в реке в 300 км. от Карелии</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Следственный комитет республики просит оказать помощь в поисках убийцы.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635412540.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635412540.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36981">Не хотел оправдываться перед женой - теперь может сесть на 6 лет</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Житель Питкяранты заявил в полицию о краже бочки, а оказалось, что он её пропил.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635412080.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635412080.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36980">Карелия в тройке регионов с наихудшим качеством питьевой воды, следует из государственного доклада Минприроды РФ</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Наша республика расположилась в списке между Дагестаном и Чеченской республикой.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635405945.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635405945.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36979">Проверь такси</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Наличие разрешения на перевозку пассажиров покажет специальный федеральный ресурс.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635403419.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635403419.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36978">Коронавирус не оставил выбора</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>Комендантский час ввели в одном из регионов России.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635399539.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635399539.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36977">Розыск несовершеннолетней</a>
          <h2 class="date">2021-10-28 00:00:00</h2>
          <h3>В Карелии пропала девочка семи лет.</h3>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="container" id="data container">
      <h1>2021.10.27</h1>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635356624.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635356624.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36976">Электронную подпись можно бесплатно получить в центрах ФНС</a>
          <h2 class="date">2021-10-27 00:00:00</h2>
          <h3>Налоговыми органами уже выпущено около 400 электронных подписей.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635350512.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635350512.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36975">О том, когда состоится праздник и сколько на него потратят</a>
          <h2 class="date">2021-10-27 00:00:00</h2>
          <h3>Право проведения Дня республики 2022 получил Прионежский район.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635350293.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635350293.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36974">Кропотливая и нужная работа</a>
          <h2 class="date">2021-10-27 00:00:00</h2>
          <h3>В Петрозаводске подвели итоги акции «Вахта Памяти».</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635346606.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635346606.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/36973">Воду льют, деньги не платят</a>
          <h2 class="date">2021-10-27 00:00:00</h2>
          <h3>Долг петрозаводчан вырос на 20 миллионов.</h3>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="container" id="data container">
      <h1>2021.10.23</h1>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635599963.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635599963.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/37002">В Петрозаводске откроется новое отделение медицинской профилактики</a>
          <h2 class="date">2021-10-23 00:00:00</h2>
          <h3>Открытие планируется 15 ноября.</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635585016.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635585016.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/37001">Тренер олимпийского чемпиона Владислава Ларина претендует на Национальную спортивную премию</a>
          <h2 class="date">2021-10-23 00:00:00</h2>
          <h3>Сергей Петров представлен в номинации «Тренер года».</h3>
        </div>
        <div class="clear"></div>
      </div>
      <div class="news">
        <div class="image_container">
          <a href="http://vse.sale/files/news/2021/10/102375_1635583341.jpg">
            <img src="http://vse.sale/files/news/2021/10/102375_1635583341.jpg">
          </a>
        </div>
        <div class="description">
          <a href="https://vse.sale/news/view/37000">30 октября – День памяти жертв политических репрессий</a>
          <h2 class="date">2021-10-23 00:00:00</h2>
          <h3>Этот День напоминает о печальных страницах истории нашей страны.</h3>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>{% endblock %}